.tengah-coy {
    text-align: center;
    margin-top: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    
}
body {
    background: url(img/free-background-images-26868-27584-hd-wallpapers.jpg);
    background-size: 100%;
}